<table class="table table-dark table-striped mt-5" *ngIf="personas.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Tel</th>
      <th>Edad</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personas">
      <th>{{ persona.id }}</th>
      <th>{{ persona.nombre | titlecase }}</th>
      <th>{{ persona.email }}</th>
      <th>{{ persona.tel }}</th>
      <th>{{ persona.edad }}</th>
      <th>
        <div class="row">
          <div class="col">
            <button
              class="btn btn-outline-warning mbotones"
              (click)="editar(persona.id)"
              [routerLink]="['/edit', persona.id]"

            >
              Edit
            </button>
            <button
              class="btn btn-outline-danger"
            >
              Delete
            </button>
          </div>
        </div>
      </th>
    </tr>
  </tbody>
</table>
